<div class="nav-bar">
            <div>
                <a><img></a>
            </div>
            <nav>
                <ul>
                    <li>

                    </li>
                </ul>
            </nav>
        </div>

        <main>
            <div class="form-box">
                <form enctype="multipart/form-data" method="POST" action="/users/login">
                    <div class="form-element">
                        <label for="username">
                            username :
                        </label>
                        <input name="username" type="text" required placeholder="username">
                    </div>
                    <div class="form-element">
                        <label for="password">
                            password :
                        </label>
                        <input name="password" type="password" required placeholder="password">
                    </div>
                    <div class="form-element">
                        <button class="btn-pry" type="submit">
                            LOG IN
                        </button>
                    </div>
                </form>
            </div>
            
        </main>